#### Pandas complete tutorial  
https://www.youtube.com/watch?v=19Z9Bc8C-Ms

### Import and load data

In [18]:
# import package
import pandas as pd

In [22]:
# fix error: ModuleNotFoundError: No module named 'openpyxl'
# !pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [24]:
df = pd.read_excel('Water quality.xlsx')
df.head()
# df.tail()  # last 5 records
# df   # first and last 4 records

# this is pandas data frame, has 2 dimensions, 1-d: row, 2-d: columns
# each column is a pandas series

,LAT_DEG,LONG_DEG,UNION,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII
0,23.6147,89.8553,Faridpur Paurashava,24.4,471,127.0,27.6,0.20,0.447,4.5,27.8,22.5,0.2,6.84,13.5,1.470,7
1,23.6075,89.8633,Faridpur Paurashava,27.4,580,142.0,9.3,0.40,4.240,3.9,29.6,25.0,0.2,7.17,0.2,1.130,990
2,23.6031,89.8272,Ambikapur,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27
3,23.6064,89.8444,Faridpur Paurashava,18.9,568,116.0,16.5,0.10,0.944,6.2,30.6,30.9,0.2,6.82,3.9,0.999,4
4,23.5689,89.8536,Aliabad,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4

In [26]:
df.shape  # first dimension row: 64, second dimension col: 17

(64, 17)

In [27]:
df.ndim  # dimensions

2

In [29]:
type(df)  # DataFrame
# DataFrame are heterogeneous in nature
# But series must contains single type of value

pandas.core.frame.DataFrame

In [32]:
df['Mn'] #dtype: float64

0     1.470
1     1.130
2     1.130
3     0.999
4     0.080
      ...
59    0.246
60    0.822
61    0.078
62    0.581
63    0.136
Name: Mn, Length: 64, dtype: float64

In [33]:
df['Mn'].ndim

1

In [34]:
type(df['Mn'])

pandas.core.series.Series

In [36]:
df['UNION'] # vectors

0     Faridpur Paurashava
1     Faridpur Paurashava
2               Ambikapur
3     Faridpur Paurashava
4                 Aliabad
             ...
59                Kaijuri
60                Majchar
61    Faridpur Paurashava
62    Faridpur Paurashava
63                Aliabad
Name: UNION, Length: 64, dtype: object

## Indexing and slicing

In [37]:
df['UNION']  # extract single col

0     Faridpur Paurashava
1     Faridpur Paurashava
2               Ambikapur
3     Faridpur Paurashava
4                 Aliabad
             ...
59                Kaijuri
60                Majchar
61    Faridpur Paurashava
62    Faridpur Paurashava
63                Aliabad
Name: UNION, Length: 64, dtype: object

In [40]:
df[['UNION','WELL_DEPTH']]  # use two [[]], show 2 cols,

                  UNION  WELL_DEPTH
0   Faridpur Paurashava        24.4
1   Faridpur Paurashava        27.4
2             Ambikapur        36.6
3   Faridpur Paurashava        18.9
4               Aliabad        45.7
..                  ...         ...
59              Kaijuri        32.0
60              Majchar        16.8
61  Faridpur Paurashava        50.0
62  Faridpur Paurashava       185.0
63              Aliabad        50.0

[64 rows x 2 columns]

In [43]:
# df dot the column - another way of indexing
df.UNION, df.Ca

(0     Faridpur Paurashava
 1     Faridpur Paurashava
 2               Ambikapur
 3     Faridpur Paurashava
 4                 Aliabad
              ...
 59                Kaijuri
 60                Majchar
 61    Faridpur Paurashava
 62    Faridpur Paurashava
 63                Aliabad
 Name: UNION, Length: 64, dtype: object,
 0     127.0
 1     142.0
 2     116.0
 3     116.0
 4      88.4
       ...
 59     67.9
 60    103.0
 61     76.4
 62    106.0
 63     54.6
 Name: Ca, Length: 64, dtype: float64)

In [46]:
# indexing using iloc, or loc, locator acessor
# index, slice, 
df.iloc[2,2]

'Ambikapur'

In [64]:
# Union index
# 2:5 - from 2nd row to 6th row, row size
# 0:4 - from 0 col to 4th col, column size
df.iloc[2:6, 0:5]

   LAT_DEG  LONG_DEG                UNION  WELL_DEPTH  HCO3
2  23.6031   89.8272            Ambikapur        36.6   529
3  23.6064   89.8444  Faridpur Paurashava        18.9   568
4  23.5689   89.8536              Aliabad        45.7   561
5  23.5792   89.8014              Kaijuri        54.3   563

In [66]:
# in python, 0 can be ignored, [,5] = [0,5]
df.iloc[2:6, :5]

   LAT_DEG  LONG_DEG                UNION  WELL_DEPTH  HCO3
2  23.6031   89.8272            Ambikapur        36.6   529
3  23.6064   89.8444  Faridpur Paurashava        18.9   568
4  23.5689   89.8536              Aliabad        45.7   561
5  23.5792   89.8014              Kaijuri        54.3   563

In [68]:
# from 3rd index till end
df.iloc[2:6,3:]

,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII
2,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27
3,18.9,568,116.0,16.5,0.10,0.944,6.2,30.6,30.9,0.2,6.82,3.9,0.999,4
4,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4
5,54.3,563,65.7,7.2,0.18,16.100,7.0,40.0,40.2,0.2,6.61,0.1,0.082,39

In [69]:
# [:] - all rows
df.iloc[:,3:]

,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII
0,24.4,471,127.0,27.6,0.20,0.447,4.5,27.8,22.5,0.2,6.84,13.5,1.470,7
1,27.4,580,142.0,9.3,0.40,4.240,3.9,29.6,25.0,0.2,7.17,0.2,1.130,990
2,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27
3,18.9,568,116.0,16.5,0.10,0.944,6.2,30.6,30.9,0.2,6.82,3.9,0.999,4
4,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,32.0,485,67.9,12.7,0.14,18.400,4.2,44.0,18.6,0.2,6.38,0.5,0.246,16
60,16.8,485,103.0,4.8,0.08,0.879,3.2,29.8,9.7,0.2,6.83,0.1,0.822,4
61,50.0,536,76.4,7.5,0.20,8.270,4.8,36.3,39.0,0.2,6.85,0.1,0.078,74
62,185.0,668,106.0,78.2,0.15,3.530,4.6,41.1,108.0,0.2,6.88,0.1,0.581,4
63,50.0,432,54.6,4.8,0.16,6.270,6.1,31.0,32.2,0.2,6.88,0.1,0.136,90

In [72]:
# Use colomn name index
df.loc[2:10,['HCO3', 'Mg']]

    HCO3    Mg
2    529  32.5
3    568  30.6
4    561  40.0
5    563  40.0
6    590  38.6
7    848  40.6
8    563  29.9
9    607  28.0
10   502  23.2

In [74]:
# Add filter condition for a column
df.loc[df['Ca']>88]

,LAT_DEG,LONG_DEG,UNION,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII
0,23.6147,89.8553,Faridpur Paurashava,24.4,471,127.0,27.6,0.20,0.447,4.5,27.8,22.5,0.2,6.84,13.5,1.470,7
1,23.6075,89.8633,Faridpur Paurashava,27.4,580,142.0,9.3,0.40,4.240,3.9,29.6,25.0,0.2,7.17,0.2,1.130,990
2,23.6031,89.8272,Ambikapur,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27
3,23.6064,89.8444,Faridpur Paurashava,18.9,568,116.0,16.5,0.10,0.944,6.2,30.6,30.9,0.2,6.82,3.9,0.999,4
4,23.5689,89.8536,Aliabad,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4
6,23.5622,89.7992,Kaijuri,65.5,590,104.0,3.4,0.12,11.300,4.1,38.6,24.7,0.2,6.77,0.1,0.103,4
7,23.5553,89.8125,Kaijuri,53.3,848,98.9,127.0,0.10,18.700,6.6,40.6,175.0,0.2,6.61,0.8,0.183,4
8,23.5092,89.8197,Kaijuri,49.7,563,115.0,16.2,0.10,6.760,5.4,29.9,28.9,0.2,6.67,0.3,0.170,42
9,23.5094,89.8103,Kanaipur,25.9,607,123.0,3.6,0.12,9.340,4.8,28.0,28.0,3.7,6.86,0.2,0.210,192
10,23.5331,89.7900,Kanaipur,26.2,502,115.0,1.8,0.14,5.690,3.9,23.2,13.1,0.2,7.01,0.1,0.754,4
15,23.5747,89.8825,Aliabad,40.5,566,95.7,7.6,0.11,8.830,5.1,39.6,25.0,0.2,6.99,0.1,0.127,200
16,23.5586,89.9025,Aliabad,41.1,714,167.0,5.5,0.14,1.100,4.4,34.3,16.4,0.2,7.10,0.5,0.700,4
17,23.5969,89.8769,Aliabad,20.1,553,129.0,3.8,0.10,2.210,3.9,25.9,9.6,0.2,7.03,0.4,1.260,17
19,23.6964,89.8067,Uttar Channel,22.3,688,156.0,2.6,0.03,0.144,5.4,34.7,13.8,0.4,6.88,0.3,1.280,4
20,23.6714,89.8083,Char Madhabdia,18.3,566,150.0,51.9,0.04,0.471,6.2,42.6,24.3,0.2,6.84,63.5,1.130,4
21,23.6292,89.8278,Ambikapur,32.0,402,101.0,16.0,0.06,0.827,4.4,18.8,11.2,0.2,7.01,10.8,0.919,4
22,23.6700,89.7253,Ishan Gopalpur,29.0,534,94.5,1.8,0.12,5.530,4.6,37.0,12.1,0.2,7.00,0.1,0.994,62
23,23.6603,89.7639,Ishan Gopalpur,28.0,580,125.0,3.0,0.04,5.970,5.2,28.4,14.4,2.6,7.09,0.1,2.860,99
24,23.6436,89.7828,Ishan Gopalpur,38.7,497,97.4,11.5,0.08,9.920,4.3,26.7,24.7,0.2,6.90,0.1,0.383,49
25,23.6014,89.8378,Faridpur Paurashava,79.0,614,116.0,38.7,0.16,7.540,4.8,36.3,46.7,0.2,7.00,1.2,0.297,4
28,23.5872,89.8133,Faridpur Paurashava,204.0,653,120.0,195.0,0.16,1.850,5.4,46.8,139.0,0.2,6.93,0.4,0.101,4
29,23.5872,89.8133,Faridpur Paurashava,213.4,612,125.0,115.0,0.10,5.740,5.1,49.1,67.3,0.2,7.22,0.2,0.133,6
31,23.6117,89.7758,Majchar,35.1,439,102.0,4.2,0.06,0.776,3.6,21.9,12.2,0.2,7.01,3.3,0.854,4
32,23.5794,89.7678,Krishnanagar,28.3,371,89.3,4.0,0.11,0.479,3.7,19.7,5.1,0.2,7.22,2.8,0.611,4
33,23.5411,89.7336,Krishnanagar,27.4,456,99.1,2.6,0.13,8.200,2.8,23.8,15.5,1.1,7.01,0.1,0.354,10
34,23.5639,89.6975,Krishnanagar,28.0,668,117.0,8.2,0.12,11.500,4.4,33.2,47.3,0.2,6.96,0.1,0.503,108
35,23.5853,89.7050,Krishnanagar,30.5,463,101.0,2.6,0.13,9.080,2.6,22.9,13.0,0.2,6.96,0.1,0.213,4
36,23.5697,89.7406,Krishnanagar,22.9,556,124.0,14.7,0.10,8.590,4.3,27.3,17.3,0.2,6.98,0.1,0.862,4
37,23.5972,89.7900,Ambikapur,20.1,380,89.2,8.7,0.09,0.483,3.1,22.3,7.4,0.2,7.00,0.6,0.983,17
38,23.5436,89.7678,Kanaipur,46.3,478,99.2,7.2,0.11,5.480,4.3,27.3,14.7,0.2,7.06,0.1,0.320,119
40,23.5414,89.8044,Kaijuri,87.8,556,99.4,3.8,0.14,6.990,4.3,37.3,21.5,0.2,6.95,0.1,0.200,82
44,23.5783,89.8942,Aliabad,48.8,773,138.0,17.7,0.08,10.100,6.8,59.5,21.8,4.9,6.79,0.1,0.121,4
45,23.6058,89.8828,Decreer Char,22.3,675,161.0,11.0,0.04,0.800,6.2,38.4,18.4,0.2,6.83,22.0,1.290,4
46,23.6233,89.8878,Decreer Char,26.8,670,158.0,4.8,0.02,1.040,5.3,33.2,20.7,0.2,6.88,0.3,1.640,4
47,23.6406,89.8556,Decreer Char,26.8,617,134.0,11.3,0.08,6.940,4.4,32.2,22.6,0.2,6.83,2.0,4.230,53
48,23.6669,89.8369,Char Madhabdia,21.9,444,115.0,13.8,0.06,0.119,5.3,24.3,12.9,0.2,7.03,21.7,0.884,4
49,23.6517,89.8169,Char Madhabdia,26.8,483,117.0,10.5,0.08,3.120,4.9,24.5,12.2,0.2,6.94,2.1,1.470,4
51,23.5753,89.7178,Krishnanagar,18.3,534,122.0,7.5,0.08,5.570,3.3,27.5,17.6,0.2,7.01,0.1,0.651,41
52,23.6119,89.7442,Majchar,32.0,622,180.0,87.0,0.12,0.705,4.9,43.6,32.8,0.2,6.88,49.8,1.200,22
53,23.6139,89.7936,Majchar,15.8,378,92.1,17.1,0.13,0.604,3.5,22.2,13.3,0.2,7.02,13.5,0.557,4
54,23.6439,89.8750,Uttar Channel,13.7,775,188.0,9.6,0.04,0.185,8.4,52.4,6.9,0.2,6.70,21.6,1.650,4
55,23.6303,89.8867,Decreer Char,14.0,841,190.0,2.0,0.02,0.294,7.6,51.0,14.4,0.2,6.73,2.1,1.710,4
60,23.6339,89.7581,Majchar,16.8,485,103.0,4.8,0.08,0.879,3.2,29.8,9.7,0.2,6.83,0.1,0.822,4
62,23.6033,89.8408,Faridpur Paurashava,185.0,668,106.0,78.2,0.15,3.530,4.6,41.1,108.0,0.2,6.88,0.1,0.581,4

In [78]:
# return multiple columns
df.loc[df['Ca']>88, ['Ca', 'UNION']]

       Ca                UNION
0   127.0  Faridpur Paurashava
1   142.0  Faridpur Paurashava
2   116.0            Ambikapur
3   116.0  Faridpur Paurashava
4    88.4              Aliabad
6   104.0              Kaijuri
7    98.9              Kaijuri
8   115.0              Kaijuri
9   123.0             Kanaipur
10  115.0             Kanaipur
15   95.7              Aliabad
16  167.0              Aliabad
17  129.0              Aliabad
19  156.0        Uttar Channel
20  150.0       Char Madhabdia
21  101.0            Ambikapur
22   94.5       Ishan Gopalpur
23  125.0       Ishan Gopalpur
24   97.4       Ishan Gopalpur
25  116.0  Faridpur Paurashava
28  120.0  Faridpur Paurashava
29  125.0  Faridpur Paurashava
31  102.0              Majchar
32   89.3         Krishnanagar
33   99.1         Krishnanagar
34  117.0         Krishnanagar
35  101.0         Krishnanagar
36  124.0         Krishnanagar
37   89.2            Ambikapur
38   99.2             Kanaipur
40   99.4              Kaijuri
44  138.0              Aliabad
45  161.0         Decreer Char
46  158.0         Decreer Char
47  134.0         Decreer Char
48  115.0       Char Madhabdia
49  117.0       Char Madhabdia
51  122.0         Krishnanagar
52  180.0              Majchar
53   92.1              Majchar
54  188.0        Uttar Channel
55  190.0         Decreer Char
60  103.0              Majchar
62  106.0  Faridpur Paurashava

In [80]:
# Multiple conditions
df.loc[(df['Ca']>88) & (df['Ca']>120)]

,LAT_DEG,LONG_DEG,UNION,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII
0,23.6147,89.8553,Faridpur Paurashava,24.4,471,127.0,27.6,0.20,0.447,4.5,27.8,22.5,0.2,6.84,13.5,1.470,7
1,23.6075,89.8633,Faridpur Paurashava,27.4,580,142.0,9.3,0.40,4.240,3.9,29.6,25.0,0.2,7.17,0.2,1.130,990
9,23.5094,89.8103,Kanaipur,25.9,607,123.0,3.6,0.12,9.340,4.8,28.0,28.0,3.7,6.86,0.2,0.210,192
16,23.5586,89.9025,Aliabad,41.1,714,167.0,5.5,0.14,1.100,4.4,34.3,16.4,0.2,7.10,0.5,0.700,4
17,23.5969,89.8769,Aliabad,20.1,553,129.0,3.8,0.10,2.210,3.9,25.9,9.6,0.2,7.03,0.4,1.260,17
19,23.6964,89.8067,Uttar Channel,22.3,688,156.0,2.6,0.03,0.144,5.4,34.7,13.8,0.4,6.88,0.3,1.280,4
20,23.6714,89.8083,Char Madhabdia,18.3,566,150.0,51.9,0.04,0.471,6.2,42.6,24.3,0.2,6.84,63.5,1.130,4
23,23.6603,89.7639,Ishan Gopalpur,28.0,580,125.0,3.0,0.04,5.970,5.2,28.4,14.4,2.6,7.09,0.1,2.860,99
29,23.5872,89.8133,Faridpur Paurashava,213.4,612,125.0,115.0,0.10,5.740,5.1,49.1,67.3,0.2,7.22,0.2,0.133,6
36,23.5697,89.7406,Krishnanagar,22.9,556,124.0,14.7,0.10,8.590,4.3,27.3,17.3,0.2,6.98,0.1,0.862,4
44,23.5783,89.8942,Aliabad,48.8,773,138.0,17.7,0.08,10.100,6.8,59.5,21.8,4.9,6.79,0.1,0.121,4
45,23.6058,89.8828,Decreer Char,22.3,675,161.0,11.0,0.04,0.800,6.2,38.4,18.4,0.2,6.83,22.0,1.290,4
46,23.6233,89.8878,Decreer Char,26.8,670,158.0,4.8,0.02,1.040,5.3,33.2,20.7,0.2,6.88,0.3,1.640,4
47,23.6406,89.8556,Decreer Char,26.8,617,134.0,11.3,0.08,6.940,4.4,32.2,22.6,0.2,6.83,2.0,4.230,53
51,23.5753,89.7178,Krishnanagar,18.3,534,122.0,7.5,0.08,5.570,3.3,27.5,17.6,0.2,7.01,0.1,0.651,41
52,23.6119,89.7442,Majchar,32.0,622,180.0,87.0,0.12,0.705,4.9,43.6,32.8,0.2,6.88,49.8,1.200,22
54,23.6439,89.8750,Uttar Channel,13.7,775,188.0,9.6,0.04,0.185,8.4,52.4,6.9,0.2,6.70,21.6,1.650,4
55,23.6303,89.8867,Decreer Char,14.0,841,190.0,2.0,0.02,0.294,7.6,51.0,14.4,0.2,6.73,2.1,1.710,4

In [81]:
# Retrieve values from data
df.loc[df.UNION=='Aliabad']

,LAT_DEG,LONG_DEG,UNION,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII
4,23.5689,89.8536,Aliabad,45.7,561,88.4,13.5,0.24,7.68,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4
15,23.5747,89.8825,Aliabad,40.5,566,95.7,7.6,0.11,8.83,5.1,39.6,25.0,0.2,6.99,0.1,0.127,200
16,23.5586,89.9025,Aliabad,41.1,714,167.0,5.5,0.14,1.10,4.4,34.3,16.4,0.2,7.10,0.5,0.700,4
17,23.5969,89.8769,Aliabad,20.1,553,129.0,3.8,0.10,2.21,3.9,25.9,9.6,0.2,7.03,0.4,1.260,17
44,23.5783,89.8942,Aliabad,48.8,773,138.0,17.7,0.08,10.10,6.8,59.5,21.8,4.9,6.79,0.1,0.121,4
56,23.5842,89.8611,Aliabad,49.7,249,34.8,4.0,0.16,3.37,3.8,17.2,21.7,0.2,7.09,0.1,0.149,92
63,23.5919,89.8417,Aliabad,50.0,432,54.6,4.8,0.16,6.27,6.1,31.0,32.2,0.2,6.88,0.1,0.136,90

In [85]:
# Retrieve string values
df.UNION.str.contains('Aliabad')

0     False
1     False
2     False
3     False
4      True
      ...
59    False
60    False
61    False
62    False
63     True
Name: UNION, Length: 64, dtype: bool

In [86]:
# regex values start with A
df[df.UNION.str.contains('^A')]

,LAT_DEG,LONG_DEG,UNION,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII
2,23.6031,89.8272,Ambikapur,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27
4,23.5689,89.8536,Aliabad,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4
15,23.5747,89.8825,Aliabad,40.5,566,95.7,7.6,0.11,8.830,5.1,39.6,25.0,0.2,6.99,0.1,0.127,200
16,23.5586,89.9025,Aliabad,41.1,714,167.0,5.5,0.14,1.100,4.4,34.3,16.4,0.2,7.10,0.5,0.700,4
17,23.5969,89.8769,Aliabad,20.1,553,129.0,3.8,0.10,2.210,3.9,25.9,9.6,0.2,7.03,0.4,1.260,17
21,23.6292,89.8278,Ambikapur,32.0,402,101.0,16.0,0.06,0.827,4.4,18.8,11.2,0.2,7.01,10.8,0.919,4
37,23.5972,89.7900,Ambikapur,20.1,380,89.2,8.7,0.09,0.483,3.1,22.3,7.4,0.2,7.00,0.6,0.983,17
44,23.5783,89.8942,Aliabad,48.8,773,138.0,17.7,0.08,10.100,6.8,59.5,21.8,4.9,6.79,0.1,0.121,4
56,23.5842,89.8611,Aliabad,49.7,249,34.8,4.0,0.16,3.370,3.8,17.2,21.7,0.2,7.09,0.1,0.149,92
63,23.5919,89.8417,Aliabad,50.0,432,54.6,4.8,0.16,6.270,6.1,31.0,32.2,0.2,6.88,0.1,0.136,90

In [89]:
# df basics
df.shape, df.shape[0], df.shape[1]

((64, 17), 64, 17)

In [88]:
len(df)

64

In [90]:
df.describe()

,LAT_DEG,LONG_DEG,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII
count,64.000000,64.000000,64.000000,64.000000,64.00000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000
mean,23.591833,89.815016,46.229687,541.812500,103.72500,24.675000,0.121875,5.642125,4.965625,32.680000,36.435938,0.453125,6.905781,4.307812,0.656109,47.484375
std,0.046104,0.048968,43.011585,127.345658,35.51816,36.600963,0.060968,4.923974,1.364891,10.096984,39.570714,0.952019,0.186086,10.939259,0.721039,128.138813
min,23.495800,89.697500,13.700000,200.000000,34.80000,1.800000,0.020000,0.052000,2.600000,8.920000,5.100000,0.200000,6.380000,0.100000,0.041000,4.000000
25%,23.563475,89.785750,24.400000,476.250000,78.27500,4.650000,0.087500,0.866000,3.975000,25.900000,13.800000,0.200000,6.817500,0.100000,0.135250,4.000000
50%,23.586250,89.816250,32.000000,554.500000,101.00000,10.450000,0.120000,5.550000,4.750000,32.100000,21.100000,0.200000,6.935000,0.300000,0.389000,5.000000
75%,23.616850,89.846575,49.775000,612.500000,123.25000,17.925000,0.150000,8.500000,5.725000,39.700000,37.200000,0.200000,7.010000,2.100000,0.985750,46.750000
max,23.696400,89.902500,213.400000,848.000000,190.00000,195.000000,0.400000,19.600000,8.600000,59.500000,175.000000,4.900000,7.350000,63.500000,4.230000,990.000000

In [93]:
# rotate row and col
df.describe().T

,count,mean,std,min,25%,50%,75%,max
LAT_DEG,64.0,23.591833,0.046104,23.4958,23.563475,23.58625,23.616850,23.6964
LONG_DEG,64.0,89.815016,0.048968,89.6975,89.785750,89.81625,89.846575,89.9025
WELL_DEPTH,64.0,46.229687,43.011585,13.7000,24.400000,32.00000,49.775000,213.4000
HCO3,64.0,541.812500,127.345658,200.0000,476.250000,554.50000,612.500000,848.0000
Ca,64.0,103.725000,35.518160,34.8000,78.275000,101.00000,123.250000,190.0000
Cl,64.0,24.675000,36.600963,1.8000,4.650000,10.45000,17.925000,195.0000
F,64.0,0.121875,0.060968,0.0200,0.087500,0.12000,0.150000,0.4000
Fe,64.0,5.642125,4.923974,0.0520,0.866000,5.55000,8.500000,19.6000
K,64.0,4.965625,1.364891,2.6000,3.975000,4.75000,5.725000,8.6000
Mg,64.0,32.680000,10.096984,8.9200,25.900000,32.10000,39.700000,59.5000
Na,64.0,36.435938,39.570714,5.1000,13.800000,21.10000,37.200000,175.0000
NO3,64.0,0.453125,0.952019,0.2000,0.200000,0.20000,0.200000,4.9000
pH,64.0,6.905781,0.186086,6.3800,6.817500,6.93500,7.010000,7.3500
SO4,64.0,4.307812,10.939259,0.1000,0.100000,0.30000,2.100000,63.5000
Mn,64.0,0.656109,0.721039,0.0410,0.135250,0.38900,0.985750,4.2300
AsIII,64.0,47.484375,128.138813,4.0000,4.000000,5.00000,46.750000,990.0000

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LAT_DEG     64 non-null     float64
 1   LONG_DEG    64 non-null     float64
 2   UNION       64 non-null     object
 3   WELL_DEPTH  64 non-null     float64
 4   HCO3        64 non-null     int64
 5   Ca          64 non-null     float64
 6   Cl          64 non-null     float64
 7   F           64 non-null     float64
 8   Fe          64 non-null     float64
 9   K           64 non-null     float64
 10  Mg          64 non-null     float64
 11  Na          64 non-null     float64
 12  NO3         64 non-null     float64
 13  pH          64 non-null     float64
 14  SO4         64 non-null     float64
 15  Mn          64 non-null     float64
 16  AsIII       64 non-null     int64
dtypes: float64(14), int64(2), object(1)
memory usage: 8.6+ KB

In [95]:
df.Ca.dtype

dtype('float64')

In [97]:
df.UNION.unique()

array(['Faridpur Paurashava', 'Ambikapur', 'Aliabad', 'Kaijuri',
       'Kanaipur', 'Greda', 'Char Madhabdia', 'Uttar Channel',
       'Ishan Gopalpur', 'Majchar', 'Krishnanagar', 'Decreer Char'],
      dtype=object)

In [99]:
df.UNION.unique().shape

(12,)

In [100]:
df.Ca.unique()

array([127. , 142. , 116. ,  88.4,  65.7, 104. ,  98.9, 115. , 123. ,
        87.4,  57.1,  43.9,  49.2,  95.7, 167. , 129. ,  78.6, 156. ,
       150. , 101. ,  94.5, 125. ,  97.4,  77.3,  67.2, 120. ,  81.4,
       102. ,  89.3,  99.1, 117. , 124. ,  89.2,  99.2,  74.9,  99.4,
        64.3,  51.9,  56.4, 138. , 161. , 158. , 134. ,  49.1, 122. ,
       180. ,  92.1, 188. , 190. ,  34.8,  87.1,  67. ,  67.9, 103. ,
        76.4, 106. ,  54.6])

In [107]:
# rename col or index
df.rename

<bound method DataFrame.rename of     LAT_DEG  LONG_DEG                UNION  WELL_DEPTH  HCO3     Ca    Cl  \
0   23.6147   89.8553  Faridpur Paurashava        24.4   471  127.0  27.6
1   23.6075   89.8633  Faridpur Paurashava        27.4   580  142.0   9.3
2   23.6031   89.8272            Ambikapur        36.6   529  116.0  33.9
3   23.6064   89.8444  Faridpur Paurashava        18.9   568  116.0  16.5
4   23.5689   89.8536              Aliabad        45.7   561   88.4  13.5
..      ...       ...                  ...         ...   ...    ...   ...
59  23.5789   89.8411              Kaijuri        32.0   485   67.9  12.7
60  23.6339   89.7581              Majchar        16.8   485  103.0   4.8
61  23.5897   89.8128  Faridpur Paurashava        50.0   536   76.4   7.5
62  23.6033   89.8408  Faridpur Paurashava       185.0   668  106.0  78.2
63  23.5919   89.8417              Aliabad        50.0   432   54.6   4.8

       F      Fe    K    Mg     Na  NO3    pH   SO4     Mn  AsIII
0   0.20   0.447  4.5  27.8   22.5  0.2  6.84  13.5  1.470      7
1   0.40   4.240  3.9  29.6   25.0  0.2  7.17   0.2  1.130    990
2   0.20   9.600  3.9  32.5   19.0  0.2  6.99   8.2  1.130     27
3   0.10   0.944  6.2  30.6   30.9  0.2  6.82   3.9  0.999      4
4   0.24   7.680  5.0  40.0   36.6  4.7  6.82   0.5  0.080      4
..   ...     ...  ...   ...    ...  ...   ...   ...    ...    ...
59  0.14  18.400  4.2  44.0   18.6  0.2  6.38   0.5  0.246     16
60  0.08   0.879  3.2  29.8    9.7  0.2  6.83   0.1  0.822      4
61  0.20   8.270  4.8  36.3   39.0  0.2  6.85   0.1  0.078     74
62  0.15   3.530  4.6  41.1  108.0  0.2  6.88   0.1  0.581      4
63  0.16   6.270  6.1  31.0   32.2  0.2  6.88   0.1  0.136     90

[64 rows x 17 columns]>

In [109]:
# rename UNION to Location, but not actual in df
df.rename(columns = {'UNION':'Location'})

# to change column name in the df
# df.rename(columns = {'UNION':'Location'}, inplace=True)
# or
# df = df.rename(columns = {'UNION':'Location'})

,LAT_DEG,LONG_DEG,Location,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII
0,23.6147,89.8553,Faridpur Paurashava,24.4,471,127.0,27.6,0.20,0.447,4.5,27.8,22.5,0.2,6.84,13.5,1.470,7
1,23.6075,89.8633,Faridpur Paurashava,27.4,580,142.0,9.3,0.40,4.240,3.9,29.6,25.0,0.2,7.17,0.2,1.130,990
2,23.6031,89.8272,Ambikapur,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27
3,23.6064,89.8444,Faridpur Paurashava,18.9,568,116.0,16.5,0.10,0.944,6.2,30.6,30.9,0.2,6.82,3.9,0.999,4
4,23.5689,89.8536,Aliabad,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,23.5789,89.8411,Kaijuri,32.0,485,67.9,12.7,0.14,18.400,4.2,44.0,18.6,0.2,6.38,0.5,0.246,16
60,23.6339,89.7581,Majchar,16.8,485,103.0,4.8,0.08,0.879,3.2,29.8,9.7,0.2,6.83,0.1,0.822,4
61,23.5897,89.8128,Faridpur Paurashava,50.0,536,76.4,7.5,0.20,8.270,4.8,36.3,39.0,0.2,6.85,0.1,0.078,74
62,23.6033,89.8408,Faridpur Paurashava,185.0,668,106.0,78.2,0.15,3.530,4.6,41.1,108.0,0.2,6.88,0.1,0.581,4
63,23.5919,89.8417,Aliabad,50.0,432,54.6,4.8,0.16,6.270,6.1,31.0,32.2,0.2,6.88,0.1,0.136,90