In [2]:
import pandas as pd
df = pd.read_excel('Water quality.xlsx')
df.head()

,LAT_DEG,LONG_DEG,UNION,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII
0,23.6147,89.8553,Faridpur Paurashava,24.4,471,127.0,27.6,0.20,0.447,4.5,27.8,22.5,0.2,6.84,13.5,1.470,7
1,23.6075,89.8633,Faridpur Paurashava,27.4,580,142.0,9.3,0.40,4.240,3.9,29.6,25.0,0.2,7.17,0.2,1.130,990
2,23.6031,89.8272,Ambikapur,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27
3,23.6064,89.8444,Faridpur Paurashava,18.9,568,116.0,16.5,0.10,0.944,6.2,30.6,30.9,0.2,6.82,3.9,0.999,4
4,23.5689,89.8536,Aliabad,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4

In [3]:
# rename column name
df.rename(columns = {'UNION':'Location'}, inplace=True)

In [6]:
# add a new col with len of Location index
df['len'] = df.Location.apply(len)
df

,LAT_DEG,LONG_DEG,Location,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII,len
0,23.6147,89.8553,Faridpur Paurashava,24.4,471,127.0,27.6,0.20,0.447,4.5,27.8,22.5,0.2,6.84,13.5,1.470,7,19
1,23.6075,89.8633,Faridpur Paurashava,27.4,580,142.0,9.3,0.40,4.240,3.9,29.6,25.0,0.2,7.17,0.2,1.130,990,19
2,23.6031,89.8272,Ambikapur,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27,9
3,23.6064,89.8444,Faridpur Paurashava,18.9,568,116.0,16.5,0.10,0.944,6.2,30.6,30.9,0.2,6.82,3.9,0.999,4,19
4,23.5689,89.8536,Aliabad,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,23.5789,89.8411,Kaijuri,32.0,485,67.9,12.7,0.14,18.400,4.2,44.0,18.6,0.2,6.38,0.5,0.246,16,7
60,23.6339,89.7581,Majchar,16.8,485,103.0,4.8,0.08,0.879,3.2,29.8,9.7,0.2,6.83,0.1,0.822,4,7
61,23.5897,89.8128,Faridpur Paurashava,50.0,536,76.4,7.5,0.20,8.270,4.8,36.3,39.0,0.2,6.85,0.1,0.078,74,19
62,23.6033,89.8408,Faridpur Paurashava,185.0,668,106.0,78.2,0.15,3.530,4.6,41.1,108.0,0.2,6.88,0.1,0.581,4,19
63,23.5919,89.8417,Aliabad,50.0,432,54.6,4.8,0.16,6.270,6.1,31.0,32.2,0.2,6.88,0.1,0.136,90,7

In [7]:
# check index value len
df.Location.str.len()

0     19
1     19
2      9
3     19
4      7
      ..
59     7
60     7
61    19
62    19
63     7
Name: Location, Length: 64, dtype: int64

In [10]:
# use function or lambda do do apply

def check_concentration(con):
    if con < 10: return 'good'
    elif (con > 10) & (con <= 50): return 'pool'
    else: return 'unsuitable'   # unsuitable to drink

df.AsIII.apply(check_concentration)

0           good
1     unsuitable
2           pool
3           good
4           good
         ...
59          pool
60          good
61    unsuitable
62          good
63    unsuitable
Name: AsIII, Length: 64, dtype: object

In [14]:
# add a new column
df['water_q'] = df.AsIII.apply(check_concentration)
df

,LAT_DEG,LONG_DEG,Location,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII,len,water_q
0,23.6147,89.8553,Faridpur Paurashava,24.4,471,127.0,27.6,0.20,0.447,4.5,27.8,22.5,0.2,6.84,13.5,1.470,7,19,good
1,23.6075,89.8633,Faridpur Paurashava,27.4,580,142.0,9.3,0.40,4.240,3.9,29.6,25.0,0.2,7.17,0.2,1.130,990,19,unsuitable
2,23.6031,89.8272,Ambikapur,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27,9,pool
3,23.6064,89.8444,Faridpur Paurashava,18.9,568,116.0,16.5,0.10,0.944,6.2,30.6,30.9,0.2,6.82,3.9,0.999,4,19,good
4,23.5689,89.8536,Aliabad,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4,7,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,23.5789,89.8411,Kaijuri,32.0,485,67.9,12.7,0.14,18.400,4.2,44.0,18.6,0.2,6.38,0.5,0.246,16,7,pool
60,23.6339,89.7581,Majchar,16.8,485,103.0,4.8,0.08,0.879,3.2,29.8,9.7,0.2,6.83,0.1,0.822,4,7,good
61,23.5897,89.8128,Faridpur Paurashava,50.0,536,76.4,7.5,0.20,8.270,4.8,36.3,39.0,0.2,6.85,0.1,0.078,74,19,unsuitable
62,23.6033,89.8408,Faridpur Paurashava,185.0,668,106.0,78.2,0.15,3.530,4.6,41.1,108.0,0.2,6.88,0.1,0.581,4,19,good
63,23.5919,89.8417,Aliabad,50.0,432,54.6,4.8,0.16,6.270,6.1,31.0,32.2,0.2,6.88,0.1,0.136,90,7,unsuitable

In [15]:
# lambda method - 1 to apply
df.AsIII.apply(lambda con: 'good' if con<10 else 'pool')

0     good
1     pool
2     pool
3     good
4     good
      ...
59    pool
60    good
61    pool
62    good
63    pool
Name: AsIII, Length: 64, dtype: object

In [16]:
# lambda method - 2
df.AsIII.apply(lambda con: 'good' if con<10 else ('pool' if con>10 & con<=50 else 'unsuitable'))

0     good
1     pool
2     pool
3     good
4     good
      ...
59    pool
60    good
61    pool
62    good
63    pool
Name: AsIII, Length: 64, dtype: object

In [19]:
df['lambda'] = df.AsIII.apply(lambda con: 'good' if con<10 else ('poor' if (con>10 & con<=50) else 'unsuitable'))
df

,LAT_DEG,LONG_DEG,Location,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII,len,water_q,lambda
0,23.6147,89.8553,Faridpur Paurashava,24.4,471,127.0,27.6,0.20,0.447,4.5,27.8,22.5,0.2,6.84,13.5,1.470,7,19,good,good
1,23.6075,89.8633,Faridpur Paurashava,27.4,580,142.0,9.3,0.40,4.240,3.9,29.6,25.0,0.2,7.17,0.2,1.130,990,19,unsuitable,poor
2,23.6031,89.8272,Ambikapur,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27,9,pool,poor
3,23.6064,89.8444,Faridpur Paurashava,18.9,568,116.0,16.5,0.10,0.944,6.2,30.6,30.9,0.2,6.82,3.9,0.999,4,19,good,good
4,23.5689,89.8536,Aliabad,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4,7,good,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,23.5789,89.8411,Kaijuri,32.0,485,67.9,12.7,0.14,18.400,4.2,44.0,18.6,0.2,6.38,0.5,0.246,16,7,pool,poor
60,23.6339,89.7581,Majchar,16.8,485,103.0,4.8,0.08,0.879,3.2,29.8,9.7,0.2,6.83,0.1,0.822,4,7,good,good
61,23.5897,89.8128,Faridpur Paurashava,50.0,536,76.4,7.5,0.20,8.270,4.8,36.3,39.0,0.2,6.85,0.1,0.078,74,19,unsuitable,poor
62,23.6033,89.8408,Faridpur Paurashava,185.0,668,106.0,78.2,0.15,3.530,4.6,41.1,108.0,0.2,6.88,0.1,0.581,4,19,good,good
63,23.5919,89.8417,Aliabad,50.0,432,54.6,4.8,0.16,6.270,6.1,31.0,32.2,0.2,6.88,0.1,0.136,90,7,unsuitable,poor

In [22]:
# drop string index, get mean
df.drop(['Location','water_q', 'lambda'], axis=1).apply(lambda x: x - x.mean())

,LAT_DEG,LONG_DEG,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII,len
0,0.022867,0.040284,-21.829687,-70.8125,23.275,2.925,0.078125,-5.195125,-0.465625,-4.88,-13.935938,-0.253125,-0.065781,9.192187,0.813891,-40.484375,8.578125
1,0.015667,0.048284,-18.829687,38.1875,38.275,-15.375,0.278125,-1.402125,-1.065625,-3.08,-11.435938,-0.253125,0.264219,-4.107812,0.473891,942.515625,8.578125
2,0.011267,0.012184,-9.629687,-12.8125,12.275,9.225,0.078125,3.957875,-1.065625,-0.18,-17.435938,-0.253125,0.084219,3.892187,0.473891,-20.484375,-1.421875
3,0.014567,0.029384,-27.329687,26.1875,12.275,-8.175,-0.021875,-4.698125,1.234375,-2.08,-5.535938,-0.253125,-0.085781,-0.407812,0.342891,-43.484375,8.578125
4,-0.022933,0.038584,-0.529687,19.1875,-15.325,-11.175,0.118125,2.037875,0.034375,7.32,0.164062,4.246875,-0.085781,-3.807812,-0.576109,-43.484375,-3.421875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,-0.012933,0.026084,-14.229687,-56.8125,-35.825,-11.975,0.018125,12.757875,-0.765625,11.32,-17.835938,-0.253125,-0.525781,-3.807812,-0.410109,-31.484375,-3.421875
60,0.042067,-0.056916,-29.429687,-56.8125,-0.725,-19.875,-0.041875,-4.763125,-1.765625,-2.88,-26.735938,-0.253125,-0.075781,-4.207813,0.165891,-43.484375,-3.421875
61,-0.002133,-0.002216,3.770313,-5.8125,-27.325,-17.175,0.078125,2.627875,-0.165625,3.62,2.564062,-0.253125,-0.055781,-4.207813,-0.578109,26.515625,8.578125
62,0.011467,0.025784,138.770312,126.1875,2.275,53.525,0.028125,-2.112125,-0.365625,8.42,71.564063,-0.253125,-0.025781,-4.207813,-0.075109,-43.484375,8.578125
63,0.000067,0.026684,3.770313,-109.8125,-49.125,-19.875,0.038125,0.627875,1.134375,-1.68,-4.235937,-0.253125,-0.025781,-4.207813,-0.520109,42.515625,-3.421875

In [23]:
df.head()

,LAT_DEG,LONG_DEG,Location,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII,len,water_q,lambda
0,23.6147,89.8553,Faridpur Paurashava,24.4,471,127.0,27.6,0.20,0.447,4.5,27.8,22.5,0.2,6.84,13.5,1.470,7,19,good,good
1,23.6075,89.8633,Faridpur Paurashava,27.4,580,142.0,9.3,0.40,4.240,3.9,29.6,25.0,0.2,7.17,0.2,1.130,990,19,unsuitable,poor
2,23.6031,89.8272,Ambikapur,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27,9,pool,poor
3,23.6064,89.8444,Faridpur Paurashava,18.9,568,116.0,16.5,0.10,0.944,6.2,30.6,30.9,0.2,6.82,3.9,0.999,4,19,good,good
4,23.5689,89.8536,Aliabad,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4,7,good,good

In [26]:
#replace value 990 with Nan
import numpy as np
df.replace([990, 7], np.nan, inplace=True)
df

,LAT_DEG,LONG_DEG,Location,WELL_DEPTH,HCO3,Ca,Cl,F,Fe,K,Mg,Na,NO3,pH,SO4,Mn,AsIII,len,water_q,lambda
0,23.6147,89.8553,Faridpur Paurashava,24.4,471,127.0,27.6,0.20,0.447,4.5,27.8,22.5,0.2,6.84,13.5,1.470,NaN,19.0,good,good
1,23.6075,89.8633,Faridpur Paurashava,27.4,580,142.0,9.3,0.40,4.240,3.9,29.6,25.0,0.2,7.17,0.2,1.130,NaN,19.0,unsuitable,poor
2,23.6031,89.8272,Ambikapur,36.6,529,116.0,33.9,0.20,9.600,3.9,32.5,19.0,0.2,6.99,8.2,1.130,27.0,9.0,pool,poor
3,23.6064,89.8444,Faridpur Paurashava,18.9,568,116.0,16.5,0.10,0.944,6.2,30.6,30.9,0.2,6.82,3.9,0.999,4.0,19.0,good,good
4,23.5689,89.8536,Aliabad,45.7,561,88.4,13.5,0.24,7.680,5.0,40.0,36.6,4.7,6.82,0.5,0.080,4.0,NaN,good,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,23.5789,89.8411,Kaijuri,32.0,485,67.9,12.7,0.14,18.400,4.2,44.0,18.6,0.2,6.38,0.5,0.246,16.0,NaN,pool,poor
60,23.6339,89.7581,Majchar,16.8,485,103.0,4.8,0.08,0.879,3.2,29.8,9.7,0.2,6.83,0.1,0.822,4.0,NaN,good,good
61,23.5897,89.8128,Faridpur Paurashava,50.0,536,76.4,7.5,0.20,8.270,4.8,36.3,39.0,0.2,6.85,0.1,0.078,74.0,19.0,unsuitable,poor
62,23.6033,89.8408,Faridpur Paurashava,185.0,668,106.0,78.2,0.15,3.530,4.6,41.1,108.0,0.2,6.88,0.1,0.581,4.0,19.0,good,good
63,23.5919,89.8417,Aliabad,50.0,432,54.6,4.8,0.16,6.270,6.1,31.0,32.2,0.2,6.88,0.1,0.136,90.0,NaN,unsuitable,poor

In [27]:
# now fill Nan with mean value
df.groupby('Location')['AsIII'].apply(lambda x: x.fillna(x.mean()))

Location
Aliabad        4       4.0
               15    200.0
               16      4.0
               17     17.0
               44      4.0
                     ...
Majchar        52     22.0
               53      4.0
               60      4.0
Uttar Channel  19      4.0
               54      4.0
Name: AsIII, Length: 64, dtype: float64